#good_food_good_mood {
  font-family:'Berkshire Swash', cursive;
  font-size:44px;
  color:#ffffff;
}

#Fast_and_tasty {
  font-size:80px;
  font-family:Shrikhand, cursive;
}

.clean-block.clean-hero {
  color:rgba(0, 0, 0, 0);
  background-image:linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
  background:linear-gradient(to bottom, #8e0e00, #1f1c18);
  height:692px;
}

#buton_login {
  border:1px solid #707070;
  border-radius:15px;
  padding-right:35px;
  padding-left:35px;
  color:#ffffff;
  background-color:#8e0e00;
}

#buton_meniu_complet {
  margin-top:50px;
  border-radius:15px;
  border:3px solid #ffffff;
  font-family:'Averia Serif Libre', cursive;
}

#buton_login_submit {
  background-color:#8e0e00;
  box-shadow:0 0 0 .2rem rgba(142,14,0,0.74);
}

#form_alb_login {
  padding-top:58px;
  border-top:4px solid #8e0e00;
  background-color:#fff;
  max-width:500px;
  margin:auto;
  padding:40px;
  box-shadow:0 2px 10px rgba(0,0,0,.075);
  border-radius:10px;
}

#register_form_alb {
  border-top:4px solid #8e0e00;
  background-color:#fff;
  max-width:500px;
  margin:auto;
  padding:40px;
  box-shadow:0 2px 10px rgba(0,0,0,.075);
  border-radius:10px;
}

#register_buton_signup {
  background-color:#8e0e00;
}

#cos_buton_cumpara {
  background-color:#8e0e00;
  border-radius:15px;
}

#cos_div_dreapta {
  background-image:linear-gradient(to right top, #43454E 0%, #43454E 100%);
}

#cos_sumar {
  text-align:center;
  font-size:1.25em;
  font-weight:600;
  padding-top:16px;
  padding-bottom:28px;
  text-transform:uppercase;
  letter-spacing:2px;
  color:#fff;
}

#total {
  font-size:.65em;
  font-weight:600;
}

#pret_total {
  font-size:.6em;
  float:right;
  margin-top:10px;
}

#patrat_total {
  color:#617ef3;
  border-bottom:1px solid #e6edf5;
  border-radius:15px;
}

#cos_nume_produs {
  color:#0056b3;
  text-decoration:none;
}

#cos_div_imagine {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:center;
  justify-content:center;
  padding:15px;
  border:2px solid #f0f0f0;
}

#scris_cos {
  color:#8e0e00!important;
}

#scris_meniu_complet {
  color:#8e0e00!important;
}

#meniu_buton_categorie {
  border-radius:30px;
  background-color:#8E0E00;
  border-color:transparent;
  font-weight:bold;
  letter-spacing:2px;
  width:195px;
  height:63px;
  font-family:Roboto, sans-serif;
  font-size:28px;
  margin-bottom:10px;
  margin-top:10px;
}

#buton_adauga {
  background-color:#8e0e00;
  border-radius:15px;
  border-color:transparent;
}

#div_produs {
  border-color:transparent;
}

#div_rand {
  border-color:transparent;
}

#nume_produs {
  position:relative;
  text-align:center;
  font-size:22px;
  color:#5B5E67;
}

#descriere_produs {
  font-family:roboto;
  font-size:13px;
  color:#A4A6AD;
}

p {
}

#meniu_buton_categorie_nefolosita {
  background-color:#f6f6f6;
  width:195px;
  height:63px;
  font-family:Roboto, sans-serif;
  font-size:28px;
  margin-bottom:10px;
  margin-top:10px;
  border-radius:30px;
  border-color:transparent;
}

#coloana_produs {
  margin-bottom:10px;
}

#select {
  margin-top:16px;
  width:239px;
  margin-left:15px;
  border:0px solid #000000;
  border-radius:10px;
  background:#D8D8D8;
  color:#36373E;
  height:35px;
}

#alerta {
  margin-top:31px;
  color:#656565;
  background-color:rgb(230,230,230);
}

#buton_stergere {
  background-color:transparent;
  color:#36373d;
  border-color:transparent;
  font-size:25px;
}

#buton_coss {
  border-color:transparent;
  background-color:transparent;
}

